<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxkk-30u0Onq2BnYs8T8Bp1vRRDAVzN_g</string>
	<key>GCM_SENDER_ID</key>
	<string>142960747754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.praktikum1</string>
	<key>PROJECT_ID</key>
	<string>otakudesu-62755</string>
	<key>STORAGE_BUCKET</key>
	<string>otakudesu-62755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142960747754:ios:722b197b99dad3476d2393</string>
</dict>
</plist>